# Defaults
.DS_Store
/.envrc
/.idea

# Terraform
.terraform
.terraform.lock.hcl
backend_*.auto.tfvars
imports.tf
state.config
terraform.tfstate
terraform.tfstate.*
terraform.tfvars
/terraform-jaysphoto.iml
organizations/*_organizations.json
